h1{
  position: relative;
  width: 100%;
  margin: 0px;
  padding: 8px;
  background-color: #aaa;
  text-align: center;
  font-family: cursive;
}

app-mine-sweepers{
  position:absolute;
  left:20%;

}
