

.hor ,.ver{
    margin: 0px;
}
.hor{
  /*..*/
}

.ver{
    float:left;
}
.center{
    text-align: center;
}
h3{
    font-family:cursive;
}
.bordered-out{
  width: 656px;
  height: 656px;
  border: 10px solid black;
  border-top: 10px solid rgb(218, 218, 218);
  border-left: 10px solid rgb(97, 97, 97);
}
.bordered-in{
  width: 640px;
  height: 640px;
  border: 10px solid black;
  border-bottom: 10px solid rgb(218, 218, 218);
  border-right: 10px solid rgb(97, 97, 97);
}

.block{
    background-color: gray;
    margin: 0px;
    text-decoration: none;
    background-color: unset;
    border: unset;

    height:30px;
    width:30px;
    border: 1px black solid;
    border-top: 1px solid rgb(218, 218, 218);
    border-left: 1px solid rgb(97, 97, 97);
    text-rendering: auto;
    text-align: center;
}

.block:active{
    border: 1px solid black;
    border-bottom: 1px solid rgb(218, 218, 218);
    border-right: 1px solid rgb(145, 145, 145);
}

.flagged{
    margin: 0px;
    text-decoration: none;
    background-color: unset;
    border: unset;

    background-image: url("https://i.imgur.com/vnZ0mIf.png") ;
    background-size: contain;

    height:30px;
    width:30px;
    border: 1px black solid;
    border-top: 1px solid rgb(218, 218, 218);
    border-left: 1px solid rgb(97, 97, 97);
}
.flagged:active{
    background-color: red;
}



@media only screen and (min-width : 720px){

    .block{
        padding:0px;
        background-color: gray;
        width:70px;
        height:70px;
        margin:0px;

        border: 5px solid black;
        border-top: 5px solid rgb(218, 218, 218);
        border-left: 5px solid rgb(97, 97, 97);


    }

    .block:active{
        border: 5px solid black;
        border-bottom: 5px solid rgb(218, 218, 218);
        border-right: 5px solid rgb(145, 145, 145);
    }
    .flagged{
        padding:0px;

        width:70px;
        height:70px;
        margin:0px;
        background-color: gray;
        border: 5px solid black;
        border-top: 5px solid rgb(218, 218, 218);
        border-left: 5px solid rgb(97, 97, 97);


    }
    .flagged:active{
        color: red;
    }
    .unframed{
      border:1px dotted black;

      width:78px;
      height:78px;
      margin:0px;
    }
    .unframed:active{
        border:1px dotted black;
    }

    .question{
      background-image: url("https://i.imgur.com/Kypt2fJ.png");
      background-size: contain;
    }
    .mined{
        position: relative;
        top: 10px;

        width:50px;
        height:50px;
    }
    .numbered{
        
        position: relative;
        top: 15px;
        width: 50px;
        height: 50px;

        font-family: cursive;
        text-align: center;
        font-size: 30px;
        text-shadow: 1px 1px 1px rgb(0, 0, 55);

    }
}

.pop-up{
    position: fixed;
    background-color:white;

    border: 4px solid black;
    border-left:4px solid rgb(41, 41, 41); 
    border-top:4px solid rgb(66, 66, 66);
    top: 160px;
    left: 600px;
    width: 252px;
    height: 200px;

    box-shadow: 0px 0px 3px 0px black;

}

.pop-up .exit-button{
    position: relative;
    float: right;
    
    border:1px solid black;
    background-color: white;
}

.pop-up .exit-button:hover{
    background-color: #ccc;
}
.pop-up p{
    position: relative;
    top: 18px;
    left: 12px;
    text-align: center;
    font-family: cursive;
    font-size: 1em;    
}
.pop-up .buttons{
    position: absolute;
    float: left;
    bottom: 1px;
}
.pop-up .buttons button{

    cursor: pointer;

    width:122px;
    margin-left: 1px;
    margin-right: 1px;
    border: 1px solid black;
}
.pop-up .message-header{
    position: relative;
    border-bottom:1px solid black;
    background-color: rgb(48, 48, 48);
}
.pop-up .title{
    font-family:Arial, Helvetica, sans-serif;
}