
<div class="header">
  <h3 class="center">
    Level {{level}}
  </h3>
  <h3>
    flags : {{flags.amount}} 
  </h3>
  <div class="right">
    <button (click)="startNewGame(0)">
      New Easy Game
    </button>
    <button>
      New Medium Game
    </button>
    <button>
      New Hard Game
    </button>
  </div>
</div>

<div class="bordered-out">
  <div class="bordered-in">
    <div id="" class="ver" *ngFor="let i of grid.locations" >
      <div id="" class="hor" *ngFor="let block of i">
        <div [attr.id]="block.id"
        [class]="block.state !== block_state.open  ? 'block' : 'block unframed'" 
        (click)="clicked($event,block)"  
        (mousedown)="FlagUsed($event,block)" >
          <span *ngIf="block.state == block_state.open && block._nearby_mines != 0" class="numbered">{{block._nearby_mines}}</span>
          <img *ngIf="block.state == block_state.open && block.isMined" [src]="imgs.mine" 
          class="mined" />
        </div>
      </div>
    </div>
  </div>
</div>

<div id="game_over" *ngIf="pop_up_message" class="pop-up">
  <div class="message-header">
    <span class="title">{{message.title}}</span>
    <button class="exit-button" (click)="closeMessageButton()">x</button>
    
  </div>
  <p>
    <br><br>
    {{message.content}}
    </p>
  <br><br>

  <div class="buttons">
    <button type="button" (click)="closeMessageButton()">Ok</button>
    <button type="button" (click)="startNewGame(0)">New Game</button>
  </div>
</div>
