
<div class="header">
  <h3 class="center">
    Level {{ level | LevelSummary }}
  </h3>
  <h3>
    flags : {{flags.amount}} 
  </h3>
  <div class="new-game">
    <button (click)="setNewLevel(0)">New Easy Game</button>
    <button (click)="setNewLevel(1)">New Medium Game</button>
    <button (click)="setNewLevel(2)">New Hard Game</button>
  </div>
</div>
<div class="bordered-out">
  <div class="bordered-in">
    <div id="field" 
    [class.easy]="level === 0"
    [class.medium]="level === 1"
    [class.hard]="level === 2"
    >
      <div [attr.id]="block.id"
          class="block" 
          [class.flag]="block.state === block_state.flagged"
          [class.question]="block.state === block_state.question"
          [class.open]="block.state === block_state.open"
          (click)="clicked(block)"  
          (mousedown)="rightClickCheck($event,block)" 
          *ngFor="let block of grid.blocks">
        <span *ngIf="block.state == block_state.open && block._nearby_mines != 0" class="number">{{block._nearby_mines}}</span>
        <img *ngIf="block.state == block_state.open && block.isMined" [src]="imgs.mine" class="mine" />
      </div>
    </div>
  </div>
</div>

<div id="game_over" *ngIf="pop_up_message" class="pop-up">
  <div class="message-header">
    <span class="title">{{ message.title }}</span>
    <button class="exit-button" (click)="closeMessageButton()">x</button>
  </div>
  <p class="center">
    {{ message.content }}
  </p>
  <div class="buttons">
    <button type="button" (click)="closeMessageButton()">Ok</button>
    <button type="button" (click)="startNewGame()">New Game</button>
  </div>
</div>