h3{
    font-family:cursive;
}

#field{
    display:grid;
    overflow: hidden;
    height: 640px;
    width: 640px;
}
.bordered-in, .bordered-out{
    width: 656px;
    height: 656px;
    border-width: 8px;
    border-style: solid;
    border-color: black;
}
.bordered-out{
    margin: 0px auto;
    border-top-color: rgb(218, 218, 218);
    border-left-color: rgb(97, 97, 97);
}
.bordered-in{
    box-sizing: border-box;
    border-bottom-color:  rgb(218, 218, 218);
    border-right-color: rgb(97, 97, 97);
}
@media(min-width: 0px){
    .pop-up{
        display: block;
        overflow: hidden;
        position: fixed;
        top: 160px;
        left: 40%;
        
        background-color:white;
        border: 4px solid black;
        border-left:4px solid rgb(41, 41, 41); 
        border-top:4px solid rgb(66, 66, 66);
        border-radius: 8px;
        width: 20%;
        height: 200px;
    
        box-shadow: 0px 0px 3px 0px black;

    }
    .message-header{
        line-height: 25px;
    }
    .exit-button{
        line-height: 24px;
    }
    .pop-up .title{
        margin-left: 3px;
    }
    .pop-up .exit-button, .pop-up p, .pop-up .message-header{
        position: relative;
    }
    .pop-up .exit-button{
        float: right;
        border:1px solid black;
        background-color: #111;
    }
    .pop-up .exit-button:hover{
        background-color: #ccc;
    }
    .pop-up p{
        top: 18px;
        font-family: cursive;
        font-size: 1em;    
        padding: 14px 20px;
    }
    .pop-up .buttons{
        position: absolute;
        width: 100%;
        display: flex;
        bottom: 0px;
        justify-content: space-around;
    }
    .buttons button{
        cursor: pointer;
        width:48%;
        margin: 1px;
        border: 1px solid black;
        border-radius: 4px;
    }
    .buttons button:hover{
        background-color: #ccc;
    }
    .pop-up .message-header{
        border-bottom:1px solid black;
        background-color: rgb(48, 48, 48);
    }
    .pop-up .title{
        font-family:Arial, Helvetica, sans-serif;
    }
    .header{
        width: 672px;
    }   
}

@media(max-width: 900px) and (min-width: 640px){
    #field{
        width: 480px;
        height: 480px;
    }
    .bordered-out, .bordered-in {
        width: 496px;
        height: 496px;
    }
    .medium .mine, .hard .mine{
        width:100%;
        height: 100%;
    }
    .header{
        width: 480px;
    }
    .pop-up{
        width: 64%;
        top:100px;
        left: 18%;
    }
    .buttons button{
        padding: 6px 0px;
    }
}   
@media(max-width: 640px){
    #field{
        width: 320px;
        height: 320px;
    }
    .bordered-in, .bordered-out{
        width: 332px;
        height: 332px;
        border-width:6px;
    }
    .easy .mine, .medium .mine, .hard .mine{
        width:100%;
        height: 100%;
    }
    .pop-up{
        position: fixed;
        overflow: hidden;
        
        width: 64%;
        top:100px;
        left: 18%;
        height: 133px;
        
        background-color:white;
        border: 4px solid black;
        border-left:4px solid rgb(41, 41, 41); 
        border-top:4px solid rgb(66, 66, 66);

        box-shadow: 0px 0px 3px 0px black;
    }
    .pop-up p{
        top:0px;
    }
    .header{
        width: 320px;
    }
    .new-game button{
        margin: 20px 15px;
    }
}  
.easy {
    grid-template-columns: repeat(8,12.5%);
    grid-template-rows: repeat(8,12.5%);
}
.medium{
    grid-template-columns: repeat(12,8.33%);
    grid-template-rows: repeat(12,8.33%);
}
.hard{
    grid-template-columns: repeat(16,6.25%);
    grid-template-rows: repeat(16,6.25%);
}
.block, .flag-button{
    background-color: grey;
    box-sizing: border-box;
}
.flag-button:focus{
    background-color: rgb(255, 0, 0);
}
.flag-button{
    width: 80px;
    height: 80px;
}
.block, .flag-button{
    border-color: black;
    border-top-color: rgb(218, 218, 218);
    border-left-color: rgb(97, 97, 97);
    border-style: solid;
}
.block{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.easy .block, .flag-button{
    border-width: 5px;
}
.easy .block:active, .medium .block:active, .hard .block:active, .flag-button:active{
    border-color: black;
    border-bottom-color: rgb(218, 218, 218);
    border-right-color: rgb(145, 145, 145);
}
.medium .block{
    border-width: 4px;
}
.hard .block{
    border-width: 3px;
}
.flag, .flag-button{
    background-image: url("https://i.imgur.com/vnZ0mIf.png");
    background-size: contain;
}
.flag {
    width:100%;
    height:100%;
}
.flag:active{
    background-color: red;
    border: 5px solid black;
    border-top: 5px solid rgb(218, 218, 218);
    border-left: 5px solid rgb(97, 97, 97);
}
.question{
    background-image: url("https://i.imgur.com/Kypt2fJ.png");
    background-size: contain;
}
#field .open{
    border: 1px dotted black;    
}
.mine{
    image-rendering: auto;
}
.number{
    font-family: cursive;
    text-shadow: 1px 1px 1px rgb(0, 0, 55);
}
.easy .number{
    font-size: 24px;
}
.center{
    text-align: center;
}
.header{
    margin: 0px auto;
}
.new-game{
    display: flex;
    flex-flow: initial;
    justify-content: space-around;

}
.new-game button{
    text-decoration: none;
    -webkit-appearance: unset;     

    border: 1px solid black;
    border-radius: 3px;
    padding: 10px 18px;
    margin: 20px 15px;
    background-color: lightgrey;

    cursor: pointer;

    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.new-game button:hover{
    background-color: darkgrey;
}
.new-game button:focus{
    outline: unset;
}
.flag-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.active{
    border: 5px solid black;
    border-bottom: 5px solid rgb(218, 218, 218);
    border-right: 5px solid rgb(145, 145, 145);
}
